.hero-head{
    margin: 3rem   1rem;
    
}


.hero {
  background-image:  linear-gradient(
      to right bottom,
      rgba(254, 254, 254, 0.8), 
      rgba(233, 242, 233, 0.8)),
      url('assets/money.jpg') !important;
  background-size: cover;  
  background-position: center center;
}
